@page "/translator"

<PageTitle>Translation APIs</PageTitle>

<h1>Welcome to the demo for the Translation APIs!</h1>

<p>Click on the following links to test the functionality available in the API:</p>

<ul>
    <li><a href="/translateText">Translate Text</a></li>
</ul>

@code {

}
