<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Azure AI Services Demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vision">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Vision
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="speech">
                <span class="bi bi-mic-nav-menu" width="16" height="16" aria-hidden="true"></span> Speech
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="language">
                <span class="bi bi-language-nav-menu" aria-hidden="true"></span> Language
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="decision">
                <span class="bi bi-decision-nav-menu" aria-hidden="true"></span> Decision
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="translator">
                <span class="bi bi-translate-nav-menu" aria-hidden="true"></span> Translator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentintelligence">
                <span class="bi bi-document-nav-menu" aria-hidden="true"></span> Document Intelligence
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="combo">
                <span class="bi bi-union-nav-menu" aria-hidden="true"></span> Combo scenarios
            </NavLink>
        </div>
    </nav>
</div>

