@page "/"

<PageTitle>Home</PageTitle>

<h1>Azure AI Services Demo</h1>

Click on the menu on the left to see what you can do with the Azure AI services API. You can also click on the microphone icon and navigate using your voice!
